ltimas {
    margin-top: 40px;
    display: flex;
    justify-content: center; /* centraliza tudo */
    gap: 20px; /* espaço entre as imagens */
}

.ultimas img {
    width: 200px;  /* você pode ajustar */
    height: 150px; 
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 12px black;
    transition: transform 0.3s ease;
}

.ultimas img:hover {
    transform: scale(1.05);
}